*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.cardText{
    display: block;
    margin: 0px auto;
}
.block__card{
    color: gray;
    position: relative;
    padding: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 1rem;
    transition: all 1s ease-out;
    box-shadow: 0px 0px 100px 96px rgba(0,0,0,0.1);
}

.name, .userName, .email, .tel, .webSite{
    display: flex;
    gap: 10px;
    align-items: center;
}
h3{
    color: black;
}
.block{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    margin: 50px auto;
}